*.class
core/build/
core/release/
/bin/
*.log
*.bak
*.exe
model-files/runtime/config/pskill.exe
utilities/vta_expresslane_feed_saver/vta_expresslanes_2018*
site/
.DS_Store
utilities/sandag-activitysim/configs/*
utilities/sandag-activitysim/output/*
utilities/sandag-activitysim/scripts/.Rproj.user/*
utilities/sandag-activitysim/scripts/.Rhistory
.Rproj.user
utilities/compare-transit-skims/TM2.2.0/*
utilities/compare-transit-skims/TM2.2.1.1/*
